.hereMapContainer{
height: 100%;
}

.hereMap{
    height: 80%;
}

.markerBubble .H_ib_body{
    background-color: yellowgreen;
}

.callIcon{
    width: 40px;
}

.redCircle{
    border: 5px double red;
    border-radius: 50%;
}

.labelOnHereMap{
    color: wheat;
    background-color: green;
    user-select: none;
}