#container {
    /* width: 95%;
    height: 95%; */
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-popup-content-wrapper {
  background-color: yellowgreen;
} 

.location-marker {
  background-color: tomato;
}

.markercluster-map {
  height: 90vh;
}

.redCircle{
  border: 5px double red;
  border-radius: 50%;
}

.leaflet-div-icon{
  width: auto !important;
  height: auto !important;
  padding: 0px 3px;
}
